{#
/**
 * Zendesk plugin for Craft CMS
 *
 * ZendeskWidget Body
 *
 * @author    Matt Shearing
 * @copyright Copyright (c) 2018 Matt Shearing
 * @link      http://adigital.agency
 * @package   Zendesk
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set iconUrl = '/cms/resources/zendesk/icon.svg' %}

<div>
	<div style="display: inline-block; width: 20%;">
		<img src="{{ iconUrl }}" height="50" width="50" />
	</div>
	<div style="display: inline-block; width: 78%;">
		<p>Please use the form below to raise any questions or get help with an issue using the site.</p>
	</div>
</div>

<form method="post" id="zendeskWidgetForm" accept-charset="UTF-8" enctype="multipart/form-data">
	{{ getCsrfInput() }}
	
	{{ forms.selectField({
	    label: 'Type',
	    placeholder: 'Enter your type here.',
	    name: 'type',
	    options: {
            "question": "Question"|t,
            "incident": "Incident"|t,
            "problem": "Problem"|t,
            "task": "Task"|t,
        },
	    value: ''})
	}}
	
	{{ forms.selectField({
	    label: 'Priority',
	    placeholder: 'Enter your priority here.',
	    name: 'priority',
	    options: {
            "low": "Low"|t,
            "medium": "Medium"|t,
            "high": "High"|t,
            "critical": "Critical"|t,
        },
	    value: ''})
	}}
	
	{% for customField in customFields %}
		{% if customField["fieldType"] == "select" %}
			{% set customOptions = {} %}
			{% for option in customField["fieldValues"] %}
				{% set optionValue = option["value"] %}
				{% set optionLabel = option["label"] %}
				{% set customOptions = customOptions|merge({ (option.value): option.label }) %}
			{% endfor %}
			{{ forms.selectField({
			    label: customField["fieldLabel"],
			    name: customField["fieldName"],
			    options: customOptions,
			    value: ''})
			}}
		{% elseif customField["fieldType"] == "text" %}
			{{ forms.textField({
			    label: customField["fieldLabel"],
			    placeholder: 'Enter your subject here.',
			    name: customField["fieldName"], 
			    value: ''})
			}}
		{% elseif customField["fieldType"] == "hidden" %}
			<input type="hidden" name="{{ customField["fieldName"] }}" id="{{ customField["fieldName"] }}" value="{{ customField["fieldValue"] }}" />
		{% endif %}
	{% endfor %}
	
	{{ forms.textField({
	    label: 'Subject',
	    placeholder: 'Enter your subject here.',
	    name: 'subject', 
	    value: ''})
	}}
	
	{{ forms.textareaField({
	    label: 'Comment',
	    placeholder: 'Enter your comment here.',
	    name: 'comment',
	    rows: 4,
	    value: ''})
	}}
	
	<div class="field">
		<div class="heading">
			<label>Attachments</label>
			<div class="instructions">
				<p>Add any relevant files or screenshots</p>
			</div>
		</div>
		<div class="input ltr">
			<input name="attachments[]" type="file" multiple>
		</div>
	</div>
	
	{% for settingName, settingValue in settings %}
		<input type="hidden" name="{{ settingName }}" id="setting_{{ settingName }}" value="{{ settingValue }}" />
	{% endfor %}
	
	<input type="submit" class="btn submit" name="zendeskTicketSubmit" value="{{ 'Send'|t }}" />
	<div name="loadingSpinner" class="loadingSpinner"></div>
</form>